<h1>Edit <%= @post.name %> Post!</h1>
<form action='/posts/<%= @post.id %>' method='post'>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Enter a Name: <input type='text' name='name' value='<%= @post.name %>'></p>
    <p>Enter some Content: <input type='text' name='content' value='<%= @post.content %>'></p>
    <input type='submit' value='submit'>
</form>