<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Create a New Blog Post</h1>
    <form method="POST" action="/posts/new">
      <label name="name">Name:
        <br>
        <input type="text" name="name">
      </label>
      <br>
      <label name="content">Content:
        <br>
        <input type="text" name="content">
      </label>
      <br>
      <input type="submit" value="Create Post" id="submit">
  </body>
</html>