<h2>New Post</h2>


<form action='/posts' method='post'>
<label for="name">Blog Title:</label>
<input type="text" id="name" name="post[name]">
  
<label for="">Content:</label>
<input type="text" id="content" name="post[content]">

<input type="submit" id="submit" value="Submit">
</form>