<h1>Create a New Post!</h1>
<form action='/posts' method='post'>
    <p>Enter a Name: <input type='text' name='name'></p>
    <p>Enter some Content: <input type='text' name='content'></p>
    <input type='submit' value='submit'>
</form>