<h1> New Blog Post </h1>

<form action="/posts" method ='POST'>
  <p> blog title </p>
<input id='name 'type='text' name='name'>
<p> Blog Content </p>
<input id='content' type='text' name='content'>
<input type='submit' id='submit' value='Submit'>


</form>
