<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= @post.name%></h1>
    <br>
    <p><%= @post.content %></p>
    <br>
    <a href="/posts/<%= @post.id %>/edit">Edit Post</a>
    <form method="POST" action="/posts/<%= @post.id %>/delete">
      <input type="submit" value="Delete Post" id="delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
    </form>
  </body>
</html>